.Container {
    background-color: #FEE7CA;
    height: auto;
    min-height: 100%;
    padding-bottom: 100px;
}

.Container>header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container>header>h1 {
    width: 90%;
    padding-right: 5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

.Container>header>h1>img {
    width: 60%;
    transform: translateY(10px);
}

.Container>main {
    padding: 10px 20px 100px 20px;
}

.Container>main>p>b {
    color: #be2e31;
}

.Container>main>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Container>main>div>img {
    width: 50%;
}

.GradientHeader {
    background: linear-gradient(-135deg, rgb(26, 127, 97), rgb(39, 31, 55));
}

.GradientHeader>h1 {
    color: #FEE7CA;
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-1px);
}

.DefaultHeader {
    background-color: #FEE7CA;
}

.DefaultHeader>h1 {
    background: linear-gradient(180deg, rgb(32, 184, 138), rgb(39, 31, 55));
    color: transparent;
    background-clip: text;
    font-size: 40px;
    font-weight: 800;
    transform: translateY(-3px);
}