.Container {
    background-color: #FEE7CA;
    height: 100%;
    padding-bottom: 150px;
}

.Container>header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container>header>h1 {
    width: 90%;
    padding-right: 5%;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, rgb(32, 184, 138), rgb(39, 31, 55));
    color: transparent;
    background-clip: text;
    font-size: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    transform: translateY(-5px);
    text-align: center;
}